<div class="container">
    <h1>AREA DE EXPERIENCIA LABORAL</h1>
    <div class="ZonaTrabajo">
        <div class="trabajo1">
            <ul >
                <li>
                    <h1> Welder SRL</h1><h3>Administrativo / Ventas | Octubre 2015 - Marzo 2023</h3>
                </li>
                <li>
                    <h2>Atencion al Cliente</h2>
                </li>
                <li>
                    <h2>Facturacion</h2>
                </li>
                <li>
                    <h2>Cierre de Caja / Contabilidad</h2>
                </li>
                <li>
                    <h2>Proveedores</h2>
                </li>
                <li>
                    <h2>Bancos</h2>
                </li>
                <li>
                    <h2>Impuestos / Municipalidad</h2>
                </li>
                <li>
                    <h2>Control de Inventario</h2>
                </li>
            </ul>
                </div>
                <div class="trabajo2">
                    <ul >
                        <li>
                            <h1>Ferreteria Bulonferr</h1><h3>Administrativo / Ventas | 2014 - 2015</h3>
                        </li>
                        <li>
                            <h2>Atencion al Cliente</h2>
                        </li>
                        <li>
                            <h2>Administrativo</h2>
                        </li>
                        <li>
                            <h2>Control de Inventario</h2>
                        </li>
                </ul>
            </div>
    </div>
</div>
