<div class="container">
    <div class="row">
        <div class="colConoc">
            <ul>
                <li>
                    <h1>Conocimientos</h1>
                </li>
                <li>
                    <h3>Argentina Programa 2022</h3>
                </li>
                <li>
                    <h3>JavaScript</h3>
                </li>
                <li>
                    <h3>React Js</h3>
                </li>
                <li>
                    <h3>SQL</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
