<div class="container">
    <div class="row">
        <div class="colConoc">
            <ul>
                <li>
                    <h1>Conocimientos</h1>
                </li>
                <li>
                    <p>Argentina Programa 2022</p>
                </li>
                <li>
                    <p>JavaScript</p>
                </li>
                <li>
                    <p>React Js</p>
                </li>
                <li>
                    <p>SQL</p>
                </li>
            </ul>
        </div>
    </div>
</div>
