
h1{
    font-size: 60px;
    color: rgb(250, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    padding: 10%;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(20rem , 1fr));
}
div{
    margin-top: 5%;
}