<div class="container">
    <div class="row">
        <div class="col1" > 
            <img src="../../../assets/FotoCV.jpg" class="img-fluid">
        </div>
        <div class="col2">
            <h1 id="nombre">AUGUSTO GALLO</h1>
            <h2 >Desarrollador Front-End Jr</h2>
        </div>
        <div class="col3">
            <span>
                <h2 >Acerca de Mi</h2>
                <h2 >Acrecentar mi experiencia y formación profesional para desarrollarme en lo laboral y personal. 
                    Proactivo, con capacidad para trabajar de forma independiente o como parte de un equipo  buscando siempre la excelencia en la laboral y el área asignada</h2>
            </span>
        </div>
        <div class="col4">
            <app-educacion></app-educacion>
        </div>
        <div class="col5">
            <app-conocimientos></app-conocimientos>
        </div>
    </div>
</div>
