<div>
    <h1 >Skills</h1>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/HTML5.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/css.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/js-logo.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/react-logo.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class=" col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/bootstrap-logo.jpeg'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class=" col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/sass-logo.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/git-logo.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/ingles.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/trabajo-grupal.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
            ></circle-progress>
        </div>
    </div>
</div>