.container{
    display: grid;
}
.row{
    padding: 5%;
    text-align: left;
    display: grid;
    grid-template-columns: 6fr 6fr;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
ul , h1{
    color: rgb(250, 248, 248);
}